/*! Fallback v0.1 - Copyright 2025 Phil Brown (https://github.com/pmbrown/Fallback-CSS/blob/main/LICENSE) */
.font-size {
  font-size: var(--fs);
}

.font-weight {
  font-weight: var(--fw);
}

.font-variant {
  font-variant: var(--fv);
}

.line-height {
  line-height: var(--lh);
}

.text-spacing {
  letter-spacing: var(--ls);
  word-spacing: var(--ws);
}

.text-transform {
  text-transform: var(--tt);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.decoration-none {
  text-decoration: none;
}

.text-link {
  color: CanvasText;
  text-decoration-color: CanvasText;
}