/*! Fallback v0.1 - Copyright 2025 Phil Brown (https://github.com/pmbrown/Fallback-CSS/blob/main/LICENSE) */
.badge,
[class*=badge-] {
  color: var(--badge-text, CanvasText);
  font-size: var(--badge-fs, 0.65em);
  font-weight: var(--badge-fw, 600);
  text-align: center;
  line-height: 1;
  position: relative;
  inset-block-start: -0.125em;
  display: inline-block;
  vertical-align: baseline;
  padding-block: var(--badge-py, 0.375em);
  padding-inline: var(--badge-px, 0.65em);
  border: 1px solid var(--badge-bd-color, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--badge-radius, 0.188rem);
  background-color: var(--badge-bg, color-mix(in srgb, CanvasText 4%, Canvas));
}