/*! Fallback v0.1 - Copyright 2025 Phil Brown (https://github.com/pmbrown/Fallback-CSS/blob/main/LICENSE) */
:where(:not([popover], dialog)) {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:where(html) {
  color-scheme: light dark;
  color: var(--text, CanvasText);
  font-size: var(--html-fs, clamp(100%, 40% + 0.666vw, 140%));
  font-family: var(--font, system-ui, -apple-system, sans-serif);
  background-color: var(--background, Canvas);
  block-size: 100%;
}

:where(body) {
  font-size: var(--body-fs, 1rem);
  line-height: var(--body-lh, 1.5);
}

:where(a) {
  color: var(--link, light-dark(#1c3db5, #9fbfdf));
  overflow-wrap: break-word;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1175em;
  &:visited {
    color: var(--visited, light-dark(#4f6fe3, #b3cce6));
  }
  &:focus-visible {
    outline: 1px solid var(--link, light-dark(#1c3db5, #9fbfdf));
    border-radius: 0.125em;
  }
  &:is(:hover, :focus) {
    color: var(--hover, light-dark(#385de0, #c6d8ec));
    text-decoration: none;
  }
}

:where(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--heading-fw, bold);
  line-height: var(--heading-lh, 1.2);
  text-wrap: var(--heading-tw, pretty);
  margin-block-end: var(--heading-mb, 0.75rem);
}

:where(h1) {
  font-size: var(--h1-fs, 2.125rem);
}

:where(h2) {
  font-size: var(--h2-fs, 1.75rem);
}

:where(h3) {
  font-size: var(--h3-fs, 1.5rem);
}

:where(h4) {
  font-size: var(--h4-fs, 1.375rem);
}

:where(h5) {
  font-size: var(--h5-fs, 1.25rem);
}

:where(h6) {
  --heading-lh: 1.25;
  font-size: var(--h6-fs, 1.063rem);
}

:where(p) {
  font-size: var(--para-fs, inherit);
  text-wrap: var(--para-tw, pretty);
  margin-block-end: var(--para-mb, 1rem);
}

:where(small) {
  font-size: var(--sml-fs, 0.85em);
}

:where(h1, h2, h3, h4, h5, h6) small {
  font-size: var(--sml-heading-fs, 0.75em);
}

:where(ol, ul, dl) {
  text-wrap: var(--list-tw, pretty);
  margin-block-end: var(--list-mb, 1rem);
  :is(ol ol, ul ul, ol ul, ul ol, dl dl) {
    margin-block-end: var(--list-child-mb, 0);
  }
}

:where(ol, ul) {
  list-style-type: var(--marker, revert);
  padding-inline-start: var(--li-ps, 2rem);
}

:where(dd) {
  margin-inline-start: var(--dd-ms, 1rem);
}

:where(abbr[title]) {
  cursor: help;
}

:where(address, blockquote, details, pre, figure, hr) {
  margin-block-end: 1rem;
}

:where(blockquote) {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border: 1px solid var(--blockquote-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  border-inline-start-width: 10px;
  p {
    margin-block-end: 0.15rem;
  }
  :last-child {
    margin-block-end: 0;
  }
}

:where(details) {
  summary {
    cursor: pointer;
  }
  :is([open] summary) {
    margin-block-end: 0.5rem;
  }
}

:where(pre) {
  color: CanvasText;
  overflow: auto;
  padding: 1rem;
  border: 1px solid var(--pre-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  background-color: var(--pre-bg, color-mix(in srgb, CanvasText 3%, Canvas));
}

:where(figure) {
  inline-size: fit-content;
  figcaption {
    line-height: 1.3;
    contain: inline-size;
    padding-block-start: 0.25em;
  }
}

:where(hr) {
  border: none;
  border-block-start: 1px solid color-mix(in srgb, CanvasText 20%, Canvas);
}

:where(img, svg, video, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg) {
  max-inline-size: 100%;
}

:where(iframe) {
  border: 0;
}

.vis-hidden, .vis-hidden-focus:not(:focus):not(:focus-within) {
  position: absolute;
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

:where(button, input, optgroup, select, textarea),
.btn {
  font-family: inherit;
  line-height: inherit;
  &:focus {
    outline: 1.5px solid var(--outline, color-mix(in srgb, CanvasText 50%, Canvas));
    outline-offset: 0;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

:where(button, optgroup, select, [type=button], [type=submit], [type=reset], [type=color]),
::file-selector-button {
  cursor: pointer;
}

:where(button, input, optgroup, select, textarea):disabled,
:where([aria-disabled=true]) {
  opacity: 0.65;
  pointer-events: none;
}

:where(optgroup, select, textarea, input:not([type=button], [type=submit], [type=reset])) {
  color: var(--form-txt, revert);
  font-size: var(--form-fs, inherit);
  padding-block: var(--form-py, 0.313rem);
  padding-inline: var(--form-px, 0.65rem);
  border: 1px solid var(--form-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--form-radius, 0.188em);
  background-color: var(--form-bg, Canvas);
}

:where(button, [type=button], [type=submit], [type=reset]),
::file-selector-button,
.btn {
  color: var(--btn-txt, revert);
  font-size: var(--btn-fs, inherit);
  padding-block: var(--btn-py, 0.313rem);
  padding-inline: var(--btn-px, 0.9rem);
  border: 1px solid var(--btn-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--btn-radius, 0.188em);
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 4%, Canvas));
  -webkit-appearance: button;
  &:is(:hover, :focus),
  &:focus:not(:focus-visible):hover {
    background-color: var(--btn-hover, color-mix(in srgb, CanvasText 8%, Canvas));
  }
  &:focus:not(:focus-visible) {
    background-color: var(--btn-bg, color-mix(in srgb, CanvasText 4%, Canvas));
  }
}

.btn {
  color: var(--btn-txt, CanvasText);
  text-align: center;
  text-decoration: none;
}

:where([type=file]) {
  padding: 0;
  background-color: transparent;
}

::file-selector-button {
  font-family: inherit;
  line-height: inherit;
  margin-inline-end: 0.75rem;
  border-block: none;
  border-inline-start: none;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

::file-selector-button:hover {
  background-color: var(--btn-hover, color-mix(in srgb, CanvasText 8%, Canvas));
}

:where(textarea) {
  display: block;
  resize: vertical;
}

:where([type=radio], [type=checkbox], [type=range], [progress]) {
  accent-color: var(--btn-accent, light-dark(#1c3db5, #9fbfdf));
}

:where(fieldset, legend) {
  border: 1px solid var(--btn-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: 0.188rem;
}

:where(fieldset) {
  inline-size: fit-content;
}

:where(legend) {
  padding-block: var(--form-py, 0.313rem);
  padding-inline: var(--form-px, 0.65rem);
}

:where([type=color]) {
  padding: 0;
}

:where(input[type=color])::-webkit-color-swatch-wrapper {
  padding: 0;
}

:where(input[type=color i])::-webkit-color-swatch {
  border: none;
}

:where(input):autofill,
:where(input):-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1.5rem color-mix(in srgb, CanvasText 2%, Canvas) inset;
}

:where(table) {
  color: var(--table-txt, CanvasText);
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
  margin-block-end: var(--table-mb, 1rem);
  border-collapse: collapse;
  background-color: var(--table-bg, Canvas);
  caption, th {
    text-align: inherit;
  }
  caption {
    color: var(--caption-txt, CanvasText);
    font-size: var(--caption-fs, 0.938rem);
    font-weight: var(--caption-fw, 500);
    padding-block: var(--table-py, 0.35rem);
    padding-inline: var(--table-px, 0.75rem);
    background-color: var(--caption-bg, Canvas);
    border: 1px solid var(--table-bd, color-mix(in srgb, CanvasText 20%, Canvas));
    border-block-end: none;
  }
  th {
    color: var(--th-txt, CanvasText);
    background-color: var(--th-bg, color-mix(in srgb, CanvasText 4%, Canvas));
  }
  thead, tbody, tfoot, tr, td, th {
    vertical-align: top;
    border: 1px solid var(--table-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  }
  th, td {
    padding-block: var(--table-py, 0.4rem);
    padding-inline: var(--table-px, 0.75rem);
  }
  :is(.table-striped tr, .table-combo tr):nth-child(even) {
    background-color: var(--table-stripes, color-mix(in srgb, CanvasText 1%, Canvas));
  }
  :is(.table-hover tbody tr, .table-combo tbody tr):hover {
    background-color: var(--table-hover, color-mix(in srgb, CanvasText 2%, Canvas));
  }
}

:where(.table-wrap) {
  overflow-x: auto;
  margin-block-end: 1rem;
  table {
    margin-block-end: 0;
  }
}

.accordion {
  color: var(--accordion-txt, CanvasText);
  margin-block-end: var(--accordion-mb, 1rem);
  border: 1px solid var(--accordion-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--accordion-radius, 0.188rem);
  background-color: var(--accordion-bg, Canvas);
  details {
    margin-block-end: 0;
    :is([open] summary) {
      margin-block-end: 0;
      border-block-end: 1px solid var(--accordion-bd, color-mix(in srgb, CanvasText 20%, Canvas));
    }
    :last-child {
      margin-block-end: 0;
    }
  }
  :not(:first-child) summary {
    border-block-start: 1px solid var(--accordion-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  }
  summary, [open]::details-content {
    padding-block: var(--accordion-py, 0.5rem);
    padding-inline: var(--accordion-px, 1rem);
  }
}

.alert {
  color: var(--alert-text, CanvasText);
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline: var(--alert-px, 1rem);
  border: 1px solid var(--alert-bd-color, color-mix(in srgb, CanvasText 13%, Canvas));
  border-radius: var(--alert-radius, 0.188rem);
  background-color: var(--alert-bg, color-mix(in srgb, CanvasText 4%, Canvas));
  :last-of-type:is(p, ol, ul, dl, figure, address) {
    margin-block-end: 0;
  }
  [method=dialog] {
    button {
      position: absolute;
      inset-block-start: 0.35rem;
      inset-inline-end: 0.5rem;
    }
  }
}

.alert[open] {
  position: relative;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: initial;
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline-end: 3rem;
  transition: none;
  p {
    padding-inline-end: 2.5rem;
  }
}

.badge,
[class*=badge-] {
  color: var(--badge-text, CanvasText);
  font-size: var(--badge-fs, 0.65em);
  font-weight: var(--badge-fw, 600);
  text-align: center;
  line-height: 1;
  position: relative;
  inset-block-start: -0.125em;
  display: inline-block;
  vertical-align: baseline;
  padding-block: var(--badge-py, 0.375em);
  padding-inline: var(--badge-px, 0.65em);
  border: 1px solid var(--badge-bd-color, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--badge-radius, 0.188rem);
  background-color: var(--badge-bg, color-mix(in srgb, CanvasText 4%, Canvas));
}

.card, .card-link {
  color: var(--card-text, CanvasText);
  max-inline-size: var(--card-width);
  padding-block: var(--card-py, 1rem);
  padding-inline: var(--card-px, 1rem);
  border: 1px solid var(--card-bd-color, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--card-radius, 0.188rem);
  background-color: var(--card-bg, Canvas);
  :is(p, ol, ul, dl) {
    margin-block-end: var(--card-text-mb, 0.5rem);
  }
  :is(:last-child) {
    margin-block-end: 0;
  }
  img {
    margin-block-end: calc(var(--card-text-mb, 0.5rem) + 0.25rem);
  }
}

.card-link {
  position: relative;
  a:after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }
  a:focus-visible {
    outline: none;
  }
  &:is(:focus-within, :hover) {
    color: var(--card-text-hover, CanvasText);
    background-color: var(--card-hover, color-mix(in srgb, CanvasText 4%, Canvas));
    cursor: pointer;
  }
  &:focus-within {
    outline: var(--card-focus, 0.188rem) solid var(--card-focus-color, color-mix(in srgb, CanvasText 20%, Canvas));
  }
}

.ratio,
.child-ratio *:not(figcaption) {
  aspect-ratio: var(--ratio);
}

.ratio-1x1,
.child-ratio-1x1 *:not(figcaption) {
  aspect-ratio: 1/1;
}

.ratio-16x9,
.child-ratio-16x9 *:not(figcaption) {
  aspect-ratio: 16/9;
}

.ratio-5x2,
.child-ratio-5x2 *:not(figcaption) {
  aspect-ratio: 5/2;
}

.ratio-4x1,
.child-ratio-4x1 *:not(figcaption) {
  aspect-ratio: 4/1;
}

.ratio-3x4,
.child-ratio-3x4 *:not(figcaption) {
  aspect-ratio: 3/4;
}

.object-contain,
.child-object-contain * {
  object-fit: contain;
}

.object-cover,
.child-object-cover * {
  object-fit: cover;
}

.object-fill,
.child-object-fill * {
  object-fit: fill;
}

.object-scale,
.child-object-scale * {
  object-fit: scale-down;
}

.ul-none, .ol-none, .ul-inline, .ol-inline, .list-comma, .list-divider {
  list-style-type: "";
  padding-inline-start: 0;
}

.ul-inline, .ol-inline, .list-comma, .list-divider {
  display: flex;
  flex-wrap: wrap;
}

.ul-inline, .ol-inline {
  column-gap: var(--gap, 0.75rem);
}

.list-comma {
  column-gap: var(--gap, 0.3rem);
  *:not(:last-child):after {
    content: ",";
  }
}

.list-divider {
  *:not(:first-child) {
    padding-inline-start: var(--divider-px, 0.5rem);
  }
  *:not(:last-child):after {
    content: var(--divider, "|");
    padding-inline-start: var(--divider-px, 0.5rem);
  }
}

:where(.dl-none, .dl-meta, .dl-comma, .dl-comma-inline) dd {
  margin-inline-start: 0;
}

.dt-bold {
  dt {
    font-weight: bold;
  }
  :is(.dl-meta, .dl-comma-inline) dt:after {
    font-weight: 400;
  }
}

.dl-meta {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  column-gap: var(--dl-meta-gap, 0.75rem);
}

:where(.dl-comma, .dl-comma-inline) {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap, 0.3rem);
}

:where(.dl-meta, .dl-comma-inline) dt {
  margin-inline-end: var(--dt-me, 0.15rem);
}

:where(.dl-meta, .dl-comma-inline) dt:after {
  font-weight: 400;
  content: var(--dt-colon, ":");
}

.dl-comma {
  dt {
    inline-size: 100%;
  }
  dt:not(:first-child) {
    margin-block-start: var(--dt-mt, 0.25rem);
  }
}

.dl-comma, .dl-comma-inline {
  dd:not(:last-child):after {
    content: var(--content, ",");
  }
  dd:not(:last-child):has(+ dt):after {
    content: "";
  }
}

.font-size {
  font-size: var(--fs);
}

.font-weight {
  font-weight: var(--fw);
}

.font-variant {
  font-variant: var(--fv);
}

.line-height {
  line-height: var(--lh);
}

.text-spacing {
  letter-spacing: var(--ls);
  word-spacing: var(--ws);
}

.text-transform {
  text-transform: var(--tt);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.decoration-none {
  text-decoration: none;
}

.text-link {
  color: CanvasText;
  text-decoration-color: CanvasText;
}