/*! Fallback v0.1 - Copyright 2025 Phil Brown (https://github.com/pmbrown/Fallback-CSS/blob/main/LICENSE) */
.alert {
  color: var(--alert-text, CanvasText);
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline: var(--alert-px, 1rem);
  border: 1px solid var(--alert-bd-color, color-mix(in srgb, CanvasText 13%, Canvas));
  border-radius: var(--alert-radius, 0.188rem);
  background-color: var(--alert-bg, color-mix(in srgb, CanvasText 4%, Canvas));
  :last-of-type:is(p, ol, ul, dl, figure, address) {
    margin-block-end: 0;
  }
  [method=dialog] {
    button {
      position: absolute;
      inset-block-start: 0.35rem;
      inset-inline-end: 0.5rem;
    }
  }
}

.alert[open] {
  position: relative;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: initial;
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline-end: 3rem;
  transition: none;
  p {
    padding-inline-end: 2.5rem;
  }
}