/*! Fallback v0.1 - Copyright 2025 Phil Brown (https://github.com/pmbrown/Fallback-CSS/blob/main/LICENSE) */
[popover], dialog {
  color: var(--modal-txt, CanvasText);
  block-size: fit-content;
  max-block-size: calc(100dvh - 2rem);
  inline-size: calc(100% - 6px - 2em);
  max-inline-size: var(--modal-width, fit-content);
  margin: auto;
  margin-block-start: 1rem;
  padding-block: var(--modal-py, 1rem);
  padding-inline: var(--modal-px, 1rem);
  border: 1px solid var(--modal-bd, color-mix(in srgb, CanvasText 20%, Canvas));
  border-radius: var(--modal-radius, 0.188rem);
  background-color: var(--modal-bg, Canvas);
  overflow: auto;
  overscroll-behavior: contain;
  :last-child {
    margin-block-end: 0;
  }
  &::backdrop {
    background-color: color-mix(in srgb, black 50%, transparent);
  }
}

[class*=offcanvas-] {
  --modal-width: 24rem;
  --modal-radius: 0;
  margin: 0;
  block-size: 100dvh;
  max-block-size: 100%;
  border: none;
}

.offcanvas-start {
  max-inline-size: var(--modal-width);
  margin-inline-end: auto;
  border-inline-end: 1px solid var(--modal-bd, color-mix(in srgb, CanvasText 20%, Canvas));
}

.offcanvas-end {
  max-inline-size: var(--modal-width);
  margin-inline-start: auto;
  border-inline-start: 1px solid var(--modal-bd, color-mix(in srgb, CanvasText 20%, Canvas));
}